/* File Created: 九月 17, 2012 */
.error,.right{
        height:20px;
        line-height:20px;
        font-size: 12px;
        background:  url(http://img1.40017.cn/cn/new_ui/public/images/verify_bg.0.2.png?v=2012091703) no-repeat 2px -37px #FFF8EE;
        *zoom:1;
        display:inline-block;
        position: relative;
        /*vertical-align  : top;*/
}
.error{
    padding: 0 5px 0 25px;
    border: 1px solid #FFD5A1;
    color: #333;
    white-space: nowrap;
    /*margin-left: 5px;*/
}

.right{
    padding: 0 10px;
    background-position:5px 3px;
    background-color: transparent;
}

input:invalid{
    -webkit-appearance:none;/*若不设置这个参数，怎chrome不支持input的boxshadow*/
    box-shadow:0 0 1.5px 1px red;
}