/**
 * @file example.css
 */

#hero{padding:40px 0;}
#hero h1{font:700 48px/60px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif}


#footer{border-top:1px solid #eee;margin:20px 0;padding-top:20px;color: #ccc;}


/**
 * layout examples
 ********************/
.layout-unit{min-height: 40px;_height:40px; margin:10px 0;background: #ccc;color: #fff;text-align: center;line-height: 40px;border-radius: 2px;}
.layout-unit:hover{background: #999;}
.layout-unit .layout-unit{background: #333;}
.layout-unit:hover .layout-unit{background: #333;}
.layout-unit .layout-unit:hover{background: #000;}


/**
 * type examples
 **********************/
.example-block{padding-bottom:20px;border-bottom:1px solid #999;margin-bottom:20px;}

.the-icons{list-style: none;padding:0;margin:0;}
.the-icons li{list-style: none;float: left;width: 25%;}


/**
 * components examples
 *************************/
.example-tooltip .span3{height: 50px;margin-bottom:10px;}
.example-popover .span3{height: 150px;margin-bottom:10px;}
